<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<form action="{:U('Upfile/upload')}" method="post" enctype="multipart/form-data">
<input name="bizType" type="hidden" value="0" />
<input name="fileType" type="hidden" value="1" />
  <label>
  <input type="file" name="file" />
  </label>
  <br />
  <input name="" value="上传" type="submit" />
</form>
</body>
</html>
