<include file="Public:head"/>
<div class="container-fluid">
                    <!-- BEGIN PAGE HEADER-->   
  <div class="row-fluid">
                    <div class="span12 blog-page">
                        <!-- BEGIN STYLE CUSTOMIZER --><!-- END BEGIN STYLE CUSTOMIZER -->  
                        <h3 class="page-title">
                            背景图管理
                             <small>Advertising management</small>
                      </h3>
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">管理首页</a> 
                                <span class="icon-angle-right"></span>
                            </li>
                            <li>
                                <a href="#">公告管理</a>
                                <span class="icon-angle-right"></span>
                            </li>
                            <li><a href="#">公告列表</a></li>
                        </ul>
    </div>
                </div>
                <!-- END PAGE HEADER-->

        <div class="row-fluid"
        <div style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">
        </div>
        <div style="padding: 1px; width:440px;height:220px;">
            <div id="ctl00_ContentPlaceHolder1_UpdatePanel1">
    <div class="portlet-body" style=" margin-top:15px;">
                       <table class="table table-striped table-bordered table-advance table-hover" style="float:left;">
                          <thead>
                            <tr>
                              
                                <th scope="col" width="15%"><i class="icon-bookmark"></i>缩略图</th>
                                <th align="center" scope="col" abbr="lbtnOperate" width="15%"><i class="icon-bookmark"></i>操作</th>
                            </tr>
                          </thead>
                          <foreach name="list" key="key" item="value">
                          <tbody>
                                <tr>
                                
                                    <td>
                                    <eq name="item.filetype_int" value="2"> <audio src="/view/images/{$value.name}" controls="controls"></audio> <else/>  <img src="/view/images/{$value.name}" class="thbnail"></eq>     
                                    </td>
                               
                                      <td align="center" style="width:20px; vertical-align: bottom;"> <a href="?c=ad&a=bg_edit&id={$value.id}"class="btn blue"><i class=" icon-edit"> </i>编辑 </a> 
                                        </if>
                                      </div>
                                    </td>          
                                </tr>
                                <tr>
                                  <td colspan="12">  </td>  
                                </tr>
                          </tbody>
                          </foreach>  
                        </table>

                       </div></div>
    </div>
<div id="divIsSetHeight" style="display: none;">
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#fnid").bind("change",function(){
             var url = $("#fnid").val();
             $.get("/adminc.php?c=ad",{fnid:url},function(){});
     
        });
        
        $(".sort").bind("change",function(){
             var id=$(this).attr('id');
             var num = $(this).val();
             $.get("/adminc.php?s=/Ad/sort.html",{ "id": id, "num": num},function(){window.location.reload();});
        });
     
    });
</script>
 </div>
        </form>
</div> 
</div> 
</div> 
</div>
  <include file="Public:foot"/>
