<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<form class="form-horizontal" method="post" enctype="multipart/form-data" action="index.php?c=scene&a=psd">
参数1：<input name="" type="text" /><br />
参数2：<input name="" type="text" /><br />
<input name="myfile" type="file"   class="m-wrapt" />(psd格式)
<br /><input type="submit" name=" " value="提交" />
</form>
</body>
</html>
