.bg_white{
    position: absolute;
    width: 1300px;
    height: 800px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -650px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    -moz-box-shadow: 0 0 10px #aaa;
    -ms-box-shadow: 0 0 10px #aaa;
    -o-box-shadow: 0 0 10px #aaa;
}
#support{color:#fff;position:fixed; bottom:2px; right:5px}
#support a img{border:0}
.phone_panel{  
  left: 50%;
  position: relative;
  top: 50%;
  margin-left: -620px;
  z-index: 1;
}
.phoneBox{float:Left;z-index: 1;}
.phoneBox .top{width:100%;background-image:url(/assets/images/yulan_phone_top.png);background-size:100% 100%;background-repeat:no-repeat;}
.phoneBox .bottom{width:100%;background-image:url(/assets/images/yulan_phone_bottom.png);background-size:100% 100%;background-repeat:no-repeat;text-align:center}
.phoneBox .bottom a{width:120px;height:40px;background:url(/assets/images/btn1_bg.png) no-repeat;display:inline-block;margin-top:2px;color:#ccc;font-size:14px;line-height:40px;font-weight:700}
.phoneBox .nr{background-color:#000;position:relative;cursor:pointer;overflow-x:hidden;overflow-y:hidden;-webkit-user-select:none;box-shadow: 0 0 10px #ddd;transform: scale(1) !important;}
.ui-page{position:relative!important;min-height:0!important}
.anchorBL{display:none!important}article{height:100%!important}
#code{
position: absolute;
  top: 607px;
  left: 0.5%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
body{background-color:transparent;overflow:hidden;background-size:cover;background-position:50% 50%}
body *{user-select:none;-webkit-user-select:none}
.sceneTitle{font-size: 24px;line-height: 48px;font-weight: 600;text-align: left;color: #6a6a6a;}
.sceneDescript{font-size: 16px; line-height: 28px;text-align: left;color: #6a6a6a;}
.phone_menubar{background:url(/assets/images/phonetitle1.gif) no-repeat; background-size: 100% 100%; }
.scene_title_baner{display:block!important;background:#000;color:#fff;text-align:center;border-left:1px solid #F6F6F6;border-right:1px solid #F6F6F6}
.scene_title_baner .scene_title{text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.otherOptions{
  position: absolute;
  right: 0;
  top: 700px;
}
.otherOptions span{
    padding: 12px 40px;
    background-size: 100% 100%;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #5AE4AC;
}
.otherOptions span:hover{
    opacity: 0.7;
}
.vxuebaoDIY{
  margin-left: 50px;
  background-color: #5AE4AC;
}
a{text-decoration:none}
a:link{color:#63ba01;text-decoration:none}
a:visited{color:#08a1ef;text-decoration:none}
a:hover{color:#08a1ef;text-decoration:none}
a:active{color:#08a1ef;text-decoration:none}
.vxuebaoDIY a{color: #fff;}
.vxueSquar a{color: #13d888;}

/**原来的大小**/
.phone_panel1{height:641px!important;margin-top:-320px;}
.phoneBox1{width:320px;height:641px!important;}
.phoneBox1 .top1{height:46px; }
.phoneBox1 .bottom1{height:46px;}
.phoneBox1 .nr1{height:486px;}
.phone_menubar1{height:20px;}
.scene_title_baner1{height:40px; line-height:40px;}
.scene_title_baner1 .scene_title1{min-width:20px;font-size:24px;}
/**原来的大小**/

/**1.3倍**/
.phone_panel3{height:833px!important;margin-top:-396px;width: 485px;}
.phoneBox3{width:417px;height:833px!important;}
.phoneBox3 .top3{height:60px;visibility: hidden;}
.phoneBox3 .bottom3{height:60px;visibility: hidden;}
.phoneBox3 .nr3{height:632px;}
.phone_menubar3{height:26px;visibility: hidden;}
.scene_title_baner3{height:52px;line-height:52px;visibility: hidden;}
.scene_title_baner3 .scene_title3{min-width:26px;font-size:31px;visibility: hidden;}
/**1.3倍**/

/**1.5倍改变大小**/
.phone_panel5{height:962px!important;margin-top:-500px;width: 560px;}
.phoneBox5{width:481px;height:962px!important;}
.phoneBox5 .top5{height:60px;visibility: hidden;}
.phoneBox5 .bottom5{height:60px;visibility: hidden;}
.phoneBox5 .nr5{height:729px;}
.phone_menubar5{height:26px;visibility: hidden;}
.scene_title_baner5{height:52px;line-height:52px;visibility: hidden;}
.scene_title_baner5 .scene_title5{min-width:26px;font-size:31px;visibility: hidden;}
/**1.5倍改变大小**/
/*缩略图*/
.miniPage{
position: absolute;
  z-index: 10;
  height: 1505px;
  overflow: auto; 
  padding: 10px;
  margin-top: -355px;
}
.miniPage>.main-page{
    height: 729px;
    width: 483px;
    display: inline-block;
    box-shadow: 0 0 10px #aaa;
}
.miniPage>.main-page:hover{
  cursor: pointer;
}
.miniPage>.main-page ul.edit_area {
  position: relative;
}
.miniPage>.main-page ul.edit_area >li{
  position: absolute;
}
.miniPage>.main-page .edit_wrapper{
  width: 100%;
  height: 100%;
}
.miniPage>.main-page .edit_wrapper>div{
  position: absolute;
  z-index: 0;
}
.miniPage .u-arrow-bottom{
  display: none;
}
/*缩略图*/

/*样式重构*/
#mainBox-left{
  width: 650px;
  height: 748px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-top: -825px;
  margin-left: -39px;
  z-index: 0;
}
#user{
  position: absolute;
  top: 0%;
  height: 170px;
  width: 100%;
  padding-right: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 10px #eee;
}
#userlogo{
  padding: 10px;
  position: absolute;
}
#userlogo img{
    width: 150px;
  background-color: #eee;
  display:block;
}
#pageinfo{
  margin-top: 15px;
  margin-left: 5px;
  position: absolute;
  left: 170px;
    padding-right: 5px;
}
#pageinfo h3{
  font-size: 24px;
  color: #666;
  font-weight: 600;
}
#pageinfo p{
  font-size: 14px;
  margin-top: 10px;
  line-height: 18px;
}
#pageinfo div{
  font-size: 12px;
  position: absolute;
  top: 130px;
  min-width: 100px;
}
#author{
line-height: 50px;
  position: absolute;
  top: 170px;
  font-size: 14px;
  width: 100%;
  color: #666; 
}
#author span.author{
  float: left;
}
#author span.readit{
  float: right;
}
#screen_panel{
float: left;
  position: relative;
  top: 50%;
  margin-top: -338px;
  left: 16px;
}
.view_contrl{
  padding: 11px 10px;
  font-size: 14px;
  width: 14px;
  height: 70px;;
  border: 1px solid #5AE4AC;
  display: block;
  font-weight: 600;
  cursor: pointer;
}
#screen_panel span:hover{
  opacity: 0.7;
}
#screen_panel #shuping{
  color: #fff;
  background-color: #5AE4AC;
}
#screen_panel #hengping{
  color: #5AE4AC;
  background-color: #fff;
}
/*样式重构*/


/*****************************横向预览弹出框******************************/
#horizon-screen,.black-bg{
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
}
#horizon-screen{
  display: none;
  z-index: 99999;
}
#horizon-screen-box{
  display: none;
}
.black-bg{
  background-color: #000;
  opacity: 0.7;
}
#horizon-screen .miniPageElli {
  position: absolute;
  height: 2566px;
  transform: scale(0.2);
  overflow: scroll;
  width: 800px;
  margin-top: -985px;
  margin-left: 478px;
  border: 1px solid #666;
}
.miniPageElli .u-arrow-bottom{
  display: none;
}
#horizon-screen .miniPageElli>.main-page {
  height: 729px;
  width: 483px;
  display: inline-block;
  box-shadow: 0 0 10px #aaa;
  transform: rotate(-90deg);
    margin-left: 143px;
}
#horizon-screen #horizon-screen-box{
  position: absolute;
  width: 1000px;
  height: 600px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #eee;
  left: 50%;
  top: 50%;
  margin-top: -300px;
  margin-left: -500px;
}
#close{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999;
  color: #ccc;
  font-size: 20px;
  font-weight: 400;
  margin-left: 505px;
  margin-top: -340px;
  cursor: pointer;
  border: 1px solid #eee;
  width: 30px;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
.miniPageElli>.main-page:hover{
  cursor: pointer;
}
.miniPageElli>.main-page ul.edit_area {
  position: relative;
}
.miniPageElli>.main-page ul.edit_area >li{
  position: absolute;
}
#conbox #con{
    transform: rotate(-90deg);
  left: 145px;
  top: -180px;
}
.miniPageElli>.main-page .edit_wrapper{
  width: 100%;
  height: 100%;
}
.miniPageElli>.main-page .edit_wrapper>div{
  position: absolute;
  z-index: 0;
}
/*屏幕适配*/
@media screen and (max-height:750px){
.bg_white{
  height: 700px;
  margin-top: -340px;
  width: 1070px;
  height: 680px;
  margin-left: -535px;
}
.phone_panel {
  margin-left: -510px;
}
#mainBox-left {
  margin-left: -22px;
  margin-top: -755px;
  width: 522px;
}
.otherOptions{
  right: -2%;
  top: 608px;
}
.otherOptions span {
  padding: 10px 30px;
}
#user {
  left: 2%;
  height: 140px;
  padding-right: 0px;
}
#userlogo img {
  width: 120px;
}
#pageinfo {
  left: 140px;
}
#pageinfo h3 {
  font-size: 20px;
}
#pageinfo div{
  top: 104px;
}
.miniPage {
  margin-top: -413px;
}
#code {
  top: 510px;
  left: 2%;
}
#author {
  top: 145px;
  left: 2%;
}
#conbox #con{
  left: 157px;
  top: -177px;
}
#horizon-screen .miniPageElli {
  height: 2145px;
  margin-top: -833px;
  margin-left: 376px;
}
#horizon-screen #horizon-screen-box {
  width: 880px;
  height: 480px;
  margin-top: -240px;
  margin-left: -440px;
}
#close{
  margin-left: 443px;
  margin-top: -279px;
}
}