<!-- 问卷统计 -->
<div ng-include="'/Public/eq/6.0/templates/header.tpl.html'" style="height:60px"></div>

<div id="form_bg"></div>
<div id="form_win">
	<a><div class="form_close">X</div></a>
	<div class="form_win_title"></div>
</div>

<div class="container" style="background-color: #fff;padding-left: 50px;padding-right: 50px;padding-top: 30px;margin-top:30px;padding-bottom: 30px;">
<div class="row">
	<div class="all_title">
		<p>问卷答案统计</p>
	</div>
	<div id="form_all"></div>
</div>
</div>
<div ng-include="'/Public/eq/6.0/templates/footer.tpl.html'" style="    margin-top: 30px;"></div>
<style type="text/css">
	body{
	background-color: #f5f8ed;
	}
</style>