			<div class="modal-header">多选题</div>
				<div class="modal-body">
					<div class="div_question">
						<div class="div_title_question_all">
							<div class="div_topic_question">1.</div>
							<div class="div_title_question">点击编辑题目</div>
							<span class="div_if_question">&nbsp*</span>
						</div>
						<div class="div_table_radio_question">
							<div class="div_table_clear_top"></div>
								<ul>
									<li>
										<input type="radio">
										<div class="select" ng-click="event()">点击编辑选项</div>	
									</li>
									<li>
										<input type="radio">
										<div class="select" ng-click="event()">点击编辑选项</div>
									</li>
									<li>
										<input type="radio">
										<div class="select" ng-click="event()">点击编辑选项</div>

									</li>
								</ul>
							<div class="div_table_clear_bottom"></div>
							<hr style="height:1px;border:none;border-top:1px solid #e6e6e6;margin-bottom:0px;" />
						</div>
					</div>
				</div>
			<div class="modal-footer"></div>