   <div id="footer">
      <div class="footer_top">
        <div class="t_left">
          <p class="title">CONTACT US</p>
          <P>地址：广州市天河区天河路490号壬丰大厦1702室</P>
          <p>商务合作：Email:sales@vxuebao.com</p>
        </div>
        <div class="t_center">
          <div style="margin-right:20px;">
            <p><img src="/index/images/show_qq.png" style="float:left;"> &nbsp;QQ交流群：476434157</p>
            <p><img src="/index/images/show_weixin.png" style="float:left;"> &nbsp;微信公众号：微学宝微课制作工具
            </p>
          </div>
          <div><img src="/index/images/show_cord.png" style="margin-top:-34px;"></div>
        </div>
        <div class="t_right" style="margin-right:0;">
          <p class="title" style="margin-bottom:20px;">企业号试用申请</p>
          <div><img src="/index/images/show_logo2.png"></div>
        </div>
      </div>
      <div class="footer_bottom">
        <ul>
         <li>友情链接：<a style=" color:#ccc;" target="_blank" href="http://www.learnnow.com.cn/ ">领思</a>/<a style="color:#ccc;" target="_blank" href="http://www.wizrecord.im/">wizrecord</a>/<a style=" color:#ccc;" target="_blank" href="https://wetool.im/" >wetool</a></li>
          <li>CopyRight@2014-<?php echo date('Y',time()); ?> http://www.vxuebao.com</li>
          <li><a style=" color:#ccc;" href="http://www.cyberwisdom.im/elearning16.html">关于我们</a>/<a style=" color:#ccc;" href="http://www.cyberwisdom.im/elearning17.html">联系我们</a></li>
        </ul>
      </div>
    </div>