@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?uu0amd');
    src:    url('fonts/icomoon.eot?uu0amd#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?uu0amd') format('truetype'),
        url('fonts/icomoon.woff?uu0amd') format('woff'),
        url('fonts/icomoon.svg?uu0amd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
    content: "\e900";
}
.icon-detail:before {
    content: "\e90a";
}
.icon-export:before {
    content: "\e901";
}
.icon-code:before {
    content: "\e902";
}
.icon-copy:before {
    content: "\e903";
}
.icon-gift:before {
    content: "\e904";
}
.icon-delete:before {
    content: "\e905";
}
.icon-set:before {
    content: "\e906";
}
.icon-view:before {
    content: "\e907";
}
.icon-user:before {
    content: "\e908";
}
.icon-preview:before {
    content: "\e909";
}
.icon-play:before {
    content: "\e912";
}

