<div id="activeTwo">
	<!-- 性格色彩 -->
	<!--<div ng-include="'Public/eq/6.0/templates/active1.html'"></div>-->
	<div class="active-banner"> <img ng-src="{{CLIENT_CDN}}assets/images/active/visitor_02.png" /></div>
<div class="active-list" style="border-top:none;">
	<h1>一、计划背景</h1>
	<div class="active-bg">
		<div class="active-con first">
			<p>李克强出席首届世界互联网大会时指出，互联网是大众创业、万众创新的新工具。其中“大众创业、万众创新”在2015年国家两会、政府工作报告等多个重要时刻提及。“它”被称作中国经济提质增效升级的“新引擎”。</p>
			<p>微学宝作为H5行业的领导品牌，响应国家“大众创业、万众创新”号召，投入2亿元资源，鼓励设计师、广告、公关、营销、媒介、代理制作等服务商发展，1年扶持10000名秀客创业，年收入10万元以上。</p>
			<p style="color:#e3001b;">首批100名报名已结束；应用户要求开始报名第2批，先到先得</p>
			<h2 style="text-indent:1.6em;">说明：</h2>
			<p>秀客：指为他人提供微课定制的设计师、广告、公关、营销、媒介、代理制作等服务商。</p> </div> </div>
	<div class="triangle-bottom">
		<div class="icon-left"></div>
		<div class="icon-right"></div> </div>
</div>
<div class="active-list">
	<h1>二、扶持资源</h1>
	<div class="active-bg">
		<div class="active-con">
			<p>加入“万名秀客扶持计划”，秀客将获得：<br />1. 使用最好的H5微课制作和营销平台---微学宝<br />2. 秀客订单免费去除微学宝微课首尾页的标识（200微币）<br />3. 开通服务商账号，享有服务商账号使用权限<br />4. 官方提供的秀客平台推荐和展示，微学宝官方推荐订单<br />5. 提供应急审核服务：提供客户微课被审核关闭后的应急审核通道</p>
			<h2>应急通道：</h2>
			<p>定制微课（订单微课）审核增开加急通道，加快审核速度。<br />应急审核流程：<br />秀客接到微课审核关闭后，请阅读微课审核关闭原因，编辑修改微课→发邮件至专用秀客审核通道xiuke@e.wesambo.com→微学宝内部优先审核打开微课。</p>
			<h2>说明：</h2>
			<p><a href="http://bbs.e.wesambo.com/forum.php?mod=viewthread&tid=13228" target="_blank">查看秀客微课紧急审核打开邮件申请邮件模板</a></p> </div> </div>
	<div class="triangle-top">
		<div class="icon-left"></div>
		<div class="icon-right"></div> </div> 
	<div class="triangle-bottom">
		<div class="icon-left"></div>
		<div class="icon-right"></div> </div>
</div>
<div class="active-list">
	<h1>三、申请步骤</h1>
	<div class="active-bg">
		<div class="active-con">
			<h2>流程：</h2>
			<p>流程1：申请成为秀客</p>
			<p> <img ng-src="{{CLIENT_CDN}}assets/images/active/visitor_09.png" /> </p>
			<p>流程2：申请订单微课免费微币</p>
			<p> <img ng-src="{{CLIENT_CDN}}assets/images/active/visitor_12.png" /> </p>
			<h2>说明：</h2>
			<p>必须先通过完成流程1才能进入流程2。</p>
			<h2>具体流程步骤说明：</h2>
			<p>第1步：??登陆微学宝官网，在用户中心申请成为秀客<a href="http://bbs.e.wesambo.com/forum.php?mod=viewthread&tid=13168" target="_blank">（查看步骤演示）</a>--——获得扶持资格；</p>
			<p>第2步：通过秀客的，每个订单可申请免费微币奖励。请发送邮件主题”秀客订单报备”，内容：秀客登录名+清单索取，至微学宝:xiuke@e.wesambo.com邮箱，获取相关资料。微学宝官方进行订单确认后，即奖励用于去除客户订单微课上的LOGO使用微币200个（注：指活动开始后的新订单，具体为8.29日及之后的的订单）；</p>
			<p>第3步：按秀客向微学宝提交的订单报备数多寡，微学宝为秀客提供广告位和官方推荐订单。</p>
			<h2>说明：</h2>
			<p>报备订单为本计划开启后的新订单，具体时间为8月29日及以后 的订单<br />【未通过审核的处理办法】：<br />1.秀客申请未通过的，请在用户中心查看审核消息，依据秀客审核消息意见，优化申请资料。<a href="http://bbs.e.wesambo.com/forum.php?mod=viewthread&tid=13174" target="_blank">（秀客审核规则说明）</a><br />2.秀客订单免费微币奖励未通过的，请按邮件反馈意见，提交更充实的订单凭证。</p>
		</div> </div>
	<div class="triangle-top">
		<div class="icon-left"></div>
		<div class="icon-right"></div> </div> 
	<div class="triangle-bottom">
		<div class="icon-left"></div>
		<div class="icon-right"></div> </div></div>
<div class="active-list">
	<h1>四、权益说明</h1>
	<div class="active-bg">
		<div class="active-con">
			<h2>秀客商业信息保密机制</h2>
			<p>保密机制：微学宝保证将对秀客申请的订单信息进行严格保密。</p>
			<h2>违规处罚</h2>
			<p>恶意、做假申请扶持资源者，微学宝会取消秀客资格，情节严重者冻结微学宝账号。</p>
			<h2>微学宝权利声明</h2>
			<p>1)?? ??????以上条款解释权归微学宝<br />2)?? ??????微学宝保留对以上条款调整的权利</p> 
			<h2>关于本计划的常见问题</h2>
			<p><a href="http://bbs.e.wesambo.com/forum.php?mod=viewthread&tid=11204 " target="_blank">http://bbs.e.wesambo.com/forum.php?mod=viewthread&tid=11204 </a></p> </div> </div>
	<div class="triangle-top">
		<div class="icon-left"></div>
		<div class="icon-right"></div> </div> 
	<div class="triangle-bottom">
		<div class="icon-left"></div>
		<div class="icon-right"></div> </div></div>
<div class="backHome">
	 <a href="http://e.wesambo.com" target="_blank">		
	<span class="eqf-scene-company"></span>		<span>官网首页</span>	</a>
</div>
</div>