<div class="about">
	<div class="header">
		<div class="content">
			<div class="logo"><img ng-src="{{logoSrc}}" alt=""></div>
		</div>
	</div>
	<div class="banner"> <img ng-src="{{CLIENT_CDN}}assets/images/contact1.jpg" /> </div>
	<div class="main clearfix">
		<div class="reg_xy_Box">
			<h1 translate="agreement.REG_AGREEMENT">微学宝注册协议</h1>
			<div class="reg_xy">
				<p translate="agreement.FIRST_PARTY">甲方：北龙中网（北京）科技有限责任公司</p>
				<p translate="agreement.SECOND_PARTY">乙方：“微学宝”的注册用户（以下简称用户或“您”）</p>
				<p class="para" translate="agreement.ENSURE_INFO">您确认：在您开始“微学宝”产品试用或购买前，您已充分阅读、理解并接受本协议的全部内容，一旦您选择“同意”并开始使用本服务或完成购买流程，即表示您同意遵循本协议之所有约定。不具备前述条件的，您应立即终止注册或停止使用本服务。</p>
				<p class="para" translate="agreement.ENSURE_INFO2">甲方有权随时对协议内容进行单方面的变更，并以在eqshow.cn公告的方式予以公布，无需另行单独通知您；若您在本协议内容公告变更后继续使用本服务，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用本服务；若您不同意修改后的协议内容，您应停止使用本服务。您可以访问 http://www.eqshow.cn来了解最新版本的服务条款。</p>
				</p>
				<p translate="agreement.REG_CLAUSE">帐户注册及条款</p>
				<p translate="agreement.REG_CLAUSE1">1. 您保证具有法律规定的完全民事权利能力和民事行为能力，能够独立承担民事责任的自然人、法人或其他组织；本协议内容不会被您所属国家或地区的法律禁止。
					<p translate="agreement.REG_CLAUSE2">2. 具体操作使用人应该是自然人。不允许采用注册机或者类似的自动化方式注册账户。
						<p translate="agreement.REG_CLAUSE3">3. 当您注册时应当按网站要求提供您真实的信息及其他必要的信息以完成注册。
							<p translate="agreement.REG_CLAUSE4">4. 您的登录信息只能用于一个人，不允许多人共享登录信息。您可以在网站允许的前提下注册多个登录用户名密码。
								<p translate="agreement.REG_CLAUSE5">5. 您应当保护好自己的用户名及密码信息不被泄露。“微学宝”无法也不会保护因为您泄露用户名或密码导致的数据风险。
									<p translate="agreement.REG_CLAUSE6">6. 同一个用户只能拥有一个免费账户。
										<p translate="agreement.REG_CLAUSE7">7. 对于您以及您的账户所创建的内容负责。
											<p translate="agreement.REG_CLAUSE8">8. 您不得恶意攻击“微学宝”服务。
												<p translate="agreement.REG_CLAUSE9">9. 您不得复制、转售或转授权任何部分或者全部的”微学宝”服务。
													<p translate="agreement.REG_CLAUSE10">10. 甲方有权但并非义务删除以下内容：非法、歧视、恐吓、诽谤、色情、淫秽或者违反中国法律的。
														<p translate="agreement.REG_CLAUSE11">11. 您不得以口头或者文字方式攻击（包括恐吓、报复等）甲方客户、员工、成员或本产品及服务的其他使用者。
															<p translate="agreement.REG_CLAUSE12">12. 您不得上传或者发布垃圾邮件，短信，或上传计算机病毒程序或者恶意代码。
																<p translate="agreement.REG_CLAUSE13">13. 如果您的账户流量使用明显超过平均用户带宽使用，我们保留停用您的账户的权利，直到您降低您的流量使用。
																	<p translate="agreement.REG_CLAUSE14">14. 您在本协议期间应遵守全部中国法律、法规和规章。
																		<p translate="agreement.REG_CLAUSE15">15. 如果甲方因乙方的任何触犯中国法律法规的行为或违反本协议的行为而承受任何损失或损害，乙方应该采取所有行动使甲方免于承担责任，并对由此产生的全部损失和损害对乙方承担赔偿责任。
																			<p translate="agreement.REG_CLAUSE16">16. 如果乙方存在任何触犯中国法律法规的行为或违反本协议的行为，甲方有权根据行为的严重性自行决定立即暂停或终止乙方对本服务的使用，甲方无须就服务暂停或终止对乙方承担任何责任，并且无须返还乙方已支付的当月费用。
																				<p translate="agreement.PAY_CLAUSE">付费相关条款
																					<p translate="agreement.PAY_CLAUSE1">1. “微学宝”产品目前仅提供免费产品供您使用，但甲方保留未来推出“微学宝”付费产品、功能或服务的权利。
																						<p translate="agreement.PAY_CLAUSE2">2. 您有权自由选择决定是否使用“微学宝”中的付费产品、功能或服务。
																							<p translate="agreement.PRODUCT_CLAUSE">产品服务条款
																								<p translate="agreement.PRODUCT_CLAUSE1">1. 甲方将以专业的方式提供产品及服务，但并不保证：1) 产品及服务满足您的所有需求或您的所有期待； 2) 产品及服务没有任何失误或缺陷； 或3) 产品及服务中的所有错误都会被修正。甲方无须对任何第三方提供的产品或服务负责，亦不对第三方产品或服务提供任何保证。
																									<p translate="agreement.PRODUCT_CLAUSE2">2. 甲方保留不断修改调整这项服务的权利，而无需事先通知乙方。
																										<p translate="agreement.INTELLECTUAL_CLAUSE">知识产权条款</p>
																										<p translate="agreement.INTELLECTUAL_CLAUSE1">1. 您提交的各种内容版权归属于您。
																											<p translate="agreement.INTELLECTUAL_CLAUSE2">2. 您应当了解并授权“微学宝”及“微学宝”许可的用户可以传播、二次编辑、分享您通过微学宝编辑生成的作品。
																												<p translate="agreement.INTELLECTUAL_CLAUSE3">3. 甲方提供的服务及产品（包括但不限于观感、设计、图标、代码等）的版权、商标权、专利权及其他知识产权均归属于甲方。除非获得甲方明确书面允许，您不得复制、重用任何HTML/CSS, JavaScript或者任何视觉设计，也不得对甲方产品进行反向工程、分解或进行编译或其他修改。
																													<p translate="agreement.INTELLECTUAL_CLAUSE4">4. 本协议中未明确授予您的权利将由甲方保留。
																														<p translate="agreement.TERMINATION_CLAUSE">责任限制 在任何情况下、甲方均无须对任何间接性、后果性、惩戒性、偶然性、特殊性或刑罚性的损害(包括但不限于乙方因使用甲方服务而遭受的利润、收入损失、或预期的节约成本的损失或商誉损失等）承担责任，即使乙方已被告知该等损失的可能性。甲方对乙方承担的全部责任总额，无论因何原因（基于合同法、侵权法或其他法规）或何种行为方式产生，始终不超过乙方在当月服务期内因使用甲方服务而已经支付给甲方的费用。 服务取消与终止条款
																															<p translate="agreement.TERMINATION_CLAUSE1">1. 您清楚的了解终止服务的后果。无需邮件或者电话确认，您可以在任何时候通过点击账户链接并执行相应操作来终止您的账户及相应的所有信息。
																																<p translate="agreement.TERMINATION_CLAUSE2">2. 一旦终止，所有隶属于这个账户的数据及信息将由甲方作删除处理，并且无法恢复。
																																	<p translate="agreement.TERMINATION_CLAUSE3">3. 一旦终止账户，账户之下的用户将无法访问任何相关的服务。
																																		<p translate="agreement.OTHER_CLAUSE">其他条款
																																			<p translate="agreement.OTHER_CLAUSE1">1. 您了解甲方使用第三方的运营商和网络提供商提供必要的硬件、软件、存储或网络来运行微学宝服务。甲方无需因为第三方的、或者不在甲方控制范围内的原因（如不可抗力）造成的运行问题（如服务中断、停顿、中止等）负责。
																																				<p translate="agreement.OTHER_CLAUSE2">2. 如果本协议的某一条款或某一条款的一部分无效或不可执行，不影响本协议其他条款的有效性，无效或不可执行的条款将被视作已从本协议中删除。
																																					<p translate="agreement.OTHER_CLAUSE3">3. 本协议受中华人民共和国法律管辖。 在执行本协议过程中如发生纠纷，双方应及时协商解决。协商不成时，任何一方均应向甲方所在地人民法院提起诉讼。
																																						<p translate="agreement.OTHER_CLAUSE4">4. 若有任何疑问，请通过浏览http://www.e.wesambo.com网站下方的联系方式与我们联系。 </div>
		</div>
	</div>
</div>
<div ng-include="'/Public/eq/6.0/templates/footer.tpl.html'"></div>