<link rel="stylesheet" type="text/css" href="/assets/questionnaire.css">
<div>
	<div ng-include="'/Public/eq/6.0/templates/header.tpl.html'"></div>
	<div class="form_tem">	
		<div class="tem">
			<div class="tem_search">
				<form>
					<input type="text" name="search_type" required="required" value="" class="s_box" />
					<input type="submit" value="" class="s_btn" />
				</form>
			</div>
			<div class="tem_type">
				<ul>
					<li><a href="javascript:void(0);">分类：</a></li>
					<li><a href="">调查</a></li>
					<li><a href="">考试</a></li>
					<li><a href="">投票</a></li>
					<li><a href="">邀请</a></li>
					<li><a href="">聚会</a></li>
					<li><a href="">会议</a></li>
				</ul>
			</div>
			<div class="tem_main">
				<div class="main_nav">
					<ul>
						<li style="border-right:1px solid #ccc;"><a href="">最受欢迎</a></li>
						<li><a href="">最新发布</a></li>
					</ul>
				</div>
				<div class="main_content">
					<ul>
						<li>
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li>
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li>
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li class="special">
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li>
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li>
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li>
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li class="special">
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li>
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li>
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li>
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li class="special">
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li>
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li>
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>
						<li>
							<div>
								<img src="/assets/images/form_img1.jpg" />
								<div class="tem_title"><p>员工满意度调查表</p></div>
							</div>
						</li>

					</ul>
				</div>
				<div class="main_page">
					<ul class="right_page pagination ng-isolate-scope ng-pristine ng-valid">
						<li><a href="">首页</a></li>
						<li><a href=""><</a></li>
						<li class="active"><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">></a></li>
						<li><a href="">尾页</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	<div ng-include="'/Public/eq/6.0/templates/footer.tpl.html'"></div>
</div>