<div class="main clearfix">
	<div class="panel panel-default">
		<div class="return"> <a ng-href="#/main/customer"><span class="fa fa-mail-reply" translate="main.customer.BACK_UP">返回</span></a> </div>
		<div class="custom-detail">
			<table width="100%">
				<tr>
					<td><span translate="main.customer.CUSTOMER_NAME">姓名</span>：{{dataDetail.name}}</td>
					<td><span translate="main.customer.CUSTOMER_TELEPHONE">电话</span>：{{dataDetail.tel}}</td>
					<td><span translate="main.customer.DATA_ORIGIN">来源</span>：{{dataDetail.originName}}</td>
				</tr>
				<tr ng-if="isAllowedToAccessGrouping">
					<td colspan="3"><span translate="main.customer.GROUP">分组</span>：<span class="userList" ng-repeat="groupName in   groupNames">{{groupName.name}}</span> </td>
				</tr>
			</table>
		</div>
		<div class="panel-body">
			<form name="formName" class="form-horizontal data-detail" role="form">
				<div class="form-group form-group-sm"> <label for="userName" class="col-sm-3 control-label" translate="main.customer.CUSTOMER_NAME">                        姓名：                    </label>
					<div class="col-sm-7"> <span>{{dataDetail.name}}</span> </div>
				</div>
				<div class="form-group form-group-sm"> <label for="sex" class="col-sm-3 control-label" translate="main.customer.CUSTOMER_SEX">                        性别：                    </label>
					<div class="col-sm-7"> <span>{{sex.id ? sex.name : ''}}</span> </div>
				</div>
				<div class="form-group form-group-sm"> <label for="mobile" class="col-sm-3 control-label" translate="main.customer.CUSTOMER_MOBILE">                        手机：                    </label>
					<div class="col-sm-7" id="mobileAddress"> <span>{{formMobiles.join()}}</span> </div>
				</div>
				<div class="form-group form-group-sm"> <label for="email" class="col-sm-3 control-label" translate="main.customer.CUSTOMER_EMAIL">                        邮箱：                    </label>
					<div class="col-sm-7" id="emailAddress"> <span>{{formEmails.join()}}</span> </div>
				</div>
				<div class="form-group form-group-sm"> <label for="company" class="col-sm-3 control-label" translate="main.customer.CUSTOMER_COMPANY">                        公司：                    </label>
					<div class="col-sm-7"> <span>{{dataDetail.company}}</span> </div>
				</div>
				<div class="form-group form-group-sm"> <label for="job" class="col-sm-3 control-label" translate="main.customer.CUSTOMER_JOB">                        职务：                    </label>
					<div class="col-sm-7"> {{dataDetail.job}} </div>
				</div>
				<div class="form-group form-group-sm"> <label for="tel" class="col-sm-3 control-label" translate="main.customer.CUSTOMER_TELEPHONE">                        固定电话：                    </label>
					<div class="col-sm-7" id="tel"> <span>{{formTels.join()}}</span> </div>
				</div>
				<div class="form-group form-group-sm"> <label for="address" class="col-sm-3 control-label" translate="main.customer.CUSTOMER_ADDRESS">                        地址：                    </label>
					<div class="col-sm-7"> <span>{{dataDetail.address}}</span> </div>
				</div>
				<div class="form-group form-group-sm"> <label for="website" class="col-sm-3 control-label" translate="main.customer.CUSTOMER_WEBSITE">                        个人网址：                    </label>
					<div class="col-sm-7"> <span>{{dataDetail.website}}</span> </div>
				</div>
				<div class="form-group form-group-sm"> <label for="qq" class="col-sm-3 control-label" translate="main.customer.QQ">                        QQ号：                    </label>
					<div class="col-sm-7"> <span>{{dataDetail.qq}}</span> </div>
				</div>
				<div class="form-group form-group-sm"> <label for="weixin" class="col-sm-3 control-label" translate="main.customer.WECHAT">                        微信号：                    </label>
					<div class="col-sm-7"> <span>{{dataDetail.weixin}}</span> </div>
				</div>
				<div class="form-group form-group-sm"> <label for="yixin" class="col-sm-3 control-label" translate="main.customer.YIXIN">                        易信号：                    </label>
					<div class="col-sm-7"> <span>{{dataDetail.yixin}}</span> </div>
				</div>
				<div class="form-group form-group-sm"> <label for="weibo" class="col-sm-3 control-label" translate="main.customer.WEIBO">                        微博号：                    </label>
					<div class="col-sm-7"> {{dataDetail.weibo}} </div>
				</div>
				<div class="form-group form-group-sm"> <label for="laiwang" class="col-sm-3 control-label" translate="main.customer.LAIWANG">                        来往号：                    </label>
					<div class="col-sm-7"> <span>{{dataDetail.laiwang}}</span> </div>
				</div>
				<div class="form-group form-group-sm"> <label for="remark" class="col-sm-3 control-label" translate="main.customer.CUSTOMER_REMARK">                        其它：                    </label>
					<div class="col-sm-7"> <span>{{dataDetail.remark}}</span> </div>
				</div>
			</form>
		</div>
	</div>
</div>