<div class="modal-header no-line"> 
	<button type="button" class="n_close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">        
		<!-- <span aria-hidden="true">×</span>  -->  
		<img aria-hidden="true" src="/assets/images/re-design/bg_close.png" /> 
	</button>
	<h4 class="modal-title"><img class="img-margin" src="/assets/images/re-design/ico3.png" />{{imageOption.title}}        
		<a class="bbs-help-tip-media" target="_blank" href="http://bbs.e.wesambo.com/forum.php?mod=viewthread&tid=1934&page=1&extra=#pid6696"></a>       
		<span class="action">{{imageOption.desc}}</span>    
	</h4>
</div>
<div class="dialog-contain cropimage">
	<div class="crop-content dialog-content clearfix">
		<div class="image-con" style="width:100%" ng-hide="imageOption.showCrop">
			<div class="add-img" ng-click="addPictures($event, 0, 'first')"><i>点击添加图片</i>
				<p style="padding-top: 8px;font-size: 14px;"><i>（最多可添加6张图片）</i></p>
			</div>
		</div>
		<div class="clearfix" ng-show="imageOption.showCrop">
			<div class="picture-img">
				<div class="image_crop n_img_crop" ng-class="{'bg-crop': !cropOption.showItems}"> 
					<img id="img_preview" eqx-pictures-crop-preview index="{{imageOption.currentImage.index}}" ng-src="{{imageOption.currentImage.src ? PREFIX_FILE_HOST + imageOption.currentImage.src : ''}}">
					<!--<a class="eqf-left nav-left"></a>-->
					<!--<a class="eqf-right nav-right"></a>-->
				</div>
				<div class="img-abbre n_img_abbre">
					<ul class="clearfix">
						<li ng-repeat="child in properties.children" ng-class="{active: imageOption.currentImage.index === $index}" ng-style="{'background-image':  child.src ? 'url(' + PREFIX_FILE_HOST + child.src + ')' : ''}" ng-click="changePicture($index)">
							<div class="img-set" ng-show="child.src.length">
								<div class="delete-img hint--top hint--rounded" data-hint="删除图片" ng-click="delPicture($index)"> 
									<span class="eqf-wrong2"></span> 
								</div>
								<div class="abbre hint--bottom hint--rounded" data-hint="更换图片" ng-click="addPictures($event, $index)"> 
									<span class="eqf-top-pic"></span> 
								</div>
							</div>
							<p class="add_ico" ng-hide="child.src.length" ng-click="addPictures($event, $index, 'more')"></p>
						</li>
					</ul>
				</div>
			</div>
			<div class="cut-size picture-size" ng-show="cropOption.showItems">
				<ul>
					<li ng-repeat="item in cropOption.cropItems" class="add_square_t">
						<div class="radio-square radio-sq2" style="margin-top:7px;border:1px solid #66cc00;" ng-class="{checked:cropOption.currentItem== item}"> 
							<em></em> 
							<input type="radio" id="{{item.desc}}" name="cropSize" ng-model="cropOption.currentItem" ng-value="item" ng-change="cropItemChange(item)"> 
						</div>
						<label for="{{item.desc}}">{{item.desc}}</label> 
						<span class="lock" ng-if="item.lock != null">
							<input type="checkbox" id="lock" ng-model="item.lock" ng-change="cropItemChange(item)">
							<label for="lock" style="width:10px;height:10px;"></label>
							<em>锁定</em>
						</span>
					</li>
				</ul>
				<ul style="margin-top:10px;" class="picture-set">
					<li class="clearfix"><span class="switch-circle on" ng-class="{on: properties.autoPlay, off: !properties.autoPlay}" ng-click="properties.autoPlay = !properties.autoPlay"><i></i></span>{{properties.autoPlay ? ('自动切换') : ('手动切换')}} </li>
					<li>
						<p><i>切换时间：</i>{{properties.interval / 1000}}<i>秒</i></p>
					</li>
					<li class="switch-time" style="padding-top: 5px;">
						<!-- <div ui-slider step="1000" min="1000" max="5000" ng-model="properties.interval" ng-class="{disable: !properties.autoPlay}"></div> -->
						<div ui-slider-t min="1000" max="5000" step="1000" class="slider" ng-model="properties.interval" ng-class="{disable: !properties.autoPlay}"></div>
						<div class="time-mark" ng-hide="properties.autoPlay"></div>
					</li>
					<li>
						<p>切换动画</p>
					</li>
					<li class="sel_drop">
						<eqx-select class="select-sm border-width select-contain" model="properties.picStyle" change="getMyScenes()">
							<!-- <eqx-select-option value="null">项目分类</eqx-select-option> -->
							<eqx-select-option value="pic" ng-repeat="pic in picStyles">{{pic.desc}}</eqx-select-option>
						</eqx-select>
						<!-- <select style="width:100%" ng-model="properties.picStyle" ng-options="pic.desc for pic in picStyles"></select> -->
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer no-line text-c"> 
	<a class="modal-submit" ng-click="ok()" ng-show="imageOption.showCrop" style="height:33px;line-height:33px;margin-top:-3px;">确定</a>
	<a class="modal-cancle" ng-click="cancel()" ng-style="{'margin-left': imageOption.showCrop ? 25 : 0}" ng-show="imageOption.showCrop" style="height:33px;line-height:33px;">取消</a> 
</div>
<div class="loading-mask" ng-show="imageOption.showLoading">
	<img ng-src="{{CLIENT_CDN}}assets/images/oval.svg">
</div>