<div class="modal-header no-line" id="input_header"> 
	<button type="button" class="n_close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">        
		<img aria-hidden="true" src="/assets/images/re-design/bg_close.png" />  
	</button>
	<h4 class="modal-title">
		<span class="icon iconfont icon-zhengfangxing"></span>
		输入框组件        
		<a class="bbs-help-tip-media" target="_blank" href="http://bbs.e.wesambo.com/forum.php?mod=viewthread&tid=1935&page=">            </a>            
		<span class="action" ng-show ='!authError'>在微课中添加输入框可以用来收集数据信息</span>            
		<span ng-show = 'authError'>{{authError}}</span>    
	</h4>
</div>
<div class="dialog-contain " id="input_content">
	<div class="modify_area  tel_title tab-same change-title clearfix" style="padding-left:30px;">
		<span ng-repeat="button in buttons track by $index" ng-class="{spanborder: $index == btnIndex}">			
			<a style="color: {{button.btnStyle.color}}" ng-click = "chooseTabButton(button, $index);">{{button.text}}</a>		
		</span> 
	</div>
	<div class="form_console dialog-content">
		<div class="modify_area">
			<form class="form-contain">
				<div class="form-list clearfix"> <label class="form-label">输入框名称：</label>
					<div class="form-input">
						<input type="text" style="border-color: {{buttons[btnIndex].btnStyle.color}}; color: {{buttons[btnIndex].btnStyle.color}}" ng-model="model.title" check-count="60" ng-keyup="$event.keyCode == 13 ? confirm() : null" autofocus stop-propagation/>
						<div class="checkbox-square" ng-class="{checked: model.required}"> 
							<em class="eqf-clickmore"></em> 
							<input type="checkbox" ng-model="model.required" name="iCheck"> 
						</div>
						<!-- <input type="checkbox" id="checkbox_required" ng-model="model.required" ng-true-value="required" style="margin-top:0;margin-left:5px;" /> -->
						<label for="checkbox_required" class="ml10">必填</label> 
					</div>
				</div>
			</form>
			<div class="customized_container clearfix">
				<div class="radio-square" ng-class="{checked: model.type=='501'}"> 
					<em></em> <input type="radio" id="input_name" ng-model="model.type" ng-change="model.title='姓名'" value="501"> 
				</div>
				<!-- <input type="radio" id="input_name" ng-model="model.type" ng-change="model.title=('scene.create.input.NAME' | translate)" value="501" /> -->
				<label for="input_name">姓名</label>
				<div class="radio-square" ng-class="{checked: model.type=='502'}"> 
					<em></em> <input type="radio" id="input_phone" ng-model="model.type" ng-change="model.title='手机'" value="502"> 
				</div>
				<!-- <input type="radio" id="input_phone" ng-model="model.type" ng-change="model.title=('scene.create.input.PHONE' | translate)" value="502" /> -->
				<label for="input_phone">手机</label>
				<div class="radio-square" ng-class="{checked: model.type=='503'}"> 
					<em></em> <input type="radio" id="input_email" ng-model="model.type" ng-change="model.title='邮箱'" value="503"> </div>
				<!-- <input type="radio" id="input_email" ng-model="model.type" ng-change="model.title=('scene.create.input.EMAIL' | translate)" value="503" /> -->
				<label for="input_email">邮箱</label>
				<div class="radio-square" ng-class="{checked: model.type=='504'}"> 
					<em></em> <input type="radio" id="input_text" ng-model="model.type" ng-change="model.title='文本'" value="504"> </div>
				<!-- <input type="radio" id="input_text" ng-model="model.type" ng-change="model.title=('scene.create.input.TEXT' | translate)" value="5" /> -->
				<label for="input_text">文本</label> </div>
		</div>
	</div>
</div>
<div class="modal-footer no-line" id="input_footer"> <a class="modal-submit" ng-click="confirm()">确定</a> <a class="modal-cancle" ng-click="cancel()">取消</a></div>