<div class="container" style="width: 860px;padding:0;">
	<b style="position: fixed;right: 20px;top: 30px;color: #aaa;font-size: 29px;font-weight: 500;padding: 5px;width: 40px;line-height: 29px;text-align: center;cursor: pointer;" ng-click="close()">x</b>
	<iframe width="500" scrolling="no" height="900" frameborder="0" ng-src="{{url}}" id="preview-longpage" name="preview" style="margin: -100px 0 0 127px;float: left;"></iframe>
	<div id="code" style="  float: left;margin: 35px 0 0 20px;border: 1px solid #ccc;padding: 10px;border-radius: 5px;">
		<span style="  font-size: 12px;display: inline-block;margin-bottom: 5px;">扫我在手机上观看</span>
		<div id="codeImg"></div>
	</div>
</div>