<div class="effect-img" style="background-color:#ccc"> 
	<img ng-src="{{falling.src.path}}" style="width:60px;height:60px;top:50%;margin-top:-30px;left:50%;margin-left:-30px;position: absolute;" />
</div>
<div class="effect-form" id="pageeffect_falling_content">
	<form class="form-contain" role="form">
		<div class="form-list clearfix">
			<lable class="form-label">环境图片：</lable>
			<!-- <div class="form-input"> 
				<select ng-model="falling.src" ng-options="fallingObj.name for fallingObj in fallings"></select> 
			</div> -->
			<div class="form-input scratch-radio">
				<ul>
					<li class="fl" ng-class="{checked: fallingName==fallingObj.name}" ng-if="fallingObj.name" ng-repeat="fallingObj in fallings track by $index" ng-click="changeImg(fallingObj)">
						<div class="radio-square"> 
							<em></em>
						</div>
						<label for="input_name">{{fallingObj.name}}</label>
					</li>
				</ul>
			</div>
		</div>
		<div class="form-list clearfix" style="margin-top: 10px;">
			<lable class="form-label">环境氛围：</lable>
			<!-- <div class="form-input">
				<div style="line-height: 24px;font-size: 12px;">
					<span style="margin-right:39px;">弱</span>
					<span style="margin-right:37px;">中</span>
					<span>强</span>
				</div>
				<div style="width: 100px;" ui-slider min="1" max="3" ng-model="falling.density"></div>
				
			</div> -->
			<div class="counter-choice">
				<div class="btn-group"> 
					<label class="btn btn-counter" ng-class="{'active': falling.density == 3}" ng-click="falling.density=3">强</label> 
					<label class="btn btn-counter" ng-class="{'active': falling.density == 2}" ng-click="falling.density=2">中</label> 
					<label class="btn btn-counter" ng-class="{'active': falling.density == 1}" ng-click="falling.density=1">弱</label> 
				</div>
			</div>
		</div>
	</form>
</div>