<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			
			body {
				font-family: "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
			}
			
			.content {
				font-size: 18px;
				height: 200px;
				width: 400px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -100px;
				margin-left: -200px;
			}
			
			p {
				margin-top: 15px;
			}
			
			a {
				color: #08a1ef;
				font-size: 14px;
			}
		</style>
	</head>

	<body>
		<div class="content">
			<p>无效的请求，原因可能是：</p>
			<p>1.无效的验证信息；</p>
			<p>2.验证信息已经过期，请在获得链接后立即使用；</p>
			<p>3.验证信息已经被使用，请重新申请；</p>
			<p><a href="http://e.wesambo.com/#/home" style="background-color:#08a1ef;padding:4px 8px;color:#fff;text-decoration:none;">进首页看看</a></p>
		</div>
	</body>

</html>