<!-- <div ng-controller="userCenterGuideCtrl">
	<div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; background: rgba(0,0,0,0.5);z-index:10000" ng-if="isFirstLogin">
		<div id="companyVip" ng-if="isCompany">
			微课列表页面-用户引导1
			<div class="bind-email-guide" ng-if="isCompanyVip" style="width:718px;height:320px;margin-top:-335px;margin-left:-350px;">
				<div class="m_guide">
					<h1><em>亲爱的微学宝会员：</em><span ng-click="showNextGuide()">&times;</span></h1> 
					<p style="margin-left:-88px;">恭喜您成为微学宝企业成员，现在您将尊享以下特权：</p>
					<ul class="guide-describe">
						<li>
							<ul style="margin-left:87px;">
								<li style="line-height:32px;">1. 可以设置自定义加载LOGO</li>
								<li style="line-height:32px;">2. 课件导出次数无限制</li>
								<li style="line-height:32px;">3. 导出后课件加载LOGO可自定义</li>
								<li style="line-height:32px;">4. 企业子账号管理（开发中）</li>
								<li style="line-height:32px;">5. 可以获赠两门定制课件</li>
							 <li>看到这些是不是很开心呐，在您使用过程中小宝将竭诚为您服务！</li> 
							</ul>
						</li>
					</ul>
					<div style="clear:both;"></div>
					<div class="user-select" style="margin-top:-6px;">
						<p>
							<span class="squaredTh">
							<input type="checkbox" id="squaredTh" style="margin: 4px; font-size:14px" ng-click="isShowCompany()" checked />
							<label for="squaredTh"></label>
						</span>
						<em style="color:#66cc00">不再提示</em>
						</p> 
						<button class="btn btn-primary bl_btn" style="line-height: 20px;" ng-click="showNextGuide()">知道了</button></div>
				</div>
			</div>
			<div class="bind-email-guide" ng-if="!isCompanyVip" style="width:718px;height:320px;margin-top:-335px;margin-left:-350px;">
				<div class="m_guide">
					<h1><em>亲爱的微学宝会员：</em><span ng-click="showNextGuide()">&times;</span></h1> 
					<p>感谢您成为微学宝会员，现在您可以免费升级为企业会员，升级后您将尊享以下特权：</p>
					<ul class="guide-describe">
						<li>
							<ul>
								<li>1. 创建子账号、管理子账号，做好企业微课安全</li>
								<li>2. 创建企业独享的微课模板、页面模板</li>
								<li>3. 微币“微学宝技术支持”底标免费用</li>
								<li>4. 30微币品牌联合底标免费用</li>
								<li>5. 微课加载LOGO自定义（100微币付费）</li>
								<li class="pb20"><a href="http://bbs.e.wesambo.com/forum.php?mod=viewthread&tid=77" target="_blank">了解详情</a></li>
							</ul>
						</li>
					</ul>
					<div style="clear:both;"></div>
					<div class="user-select">
						<p>
							<span class="squaredTwo">
								<input type="checkbox" id="squaredTwo" style="margin: 4px; font-size:14px" ng-click="isShowCompany()" checked />
								<label for="squaredTwo"></label>
							</span>
							<em style="color:#66cc00">不再提示</em>
						</p> 
						<button class="btn btn-primary bl_btn" style="line-height: 20px;" ng-click="showNextGuide()">知道了</button> 
					</div>
				</div>
			</div>
		</div>

		<div id="divClose" ng-if="isPerson">
			微课列表页面-用户引导1
			 ng-show="'bindEmailGuide' == currentGuide && isShow"  
			<div class="bind-email-guide">
				<div class="n_guide">
					<h1><em>温馨tips：让我们帮您更好地使用微学宝</em><span ng-click="closeDiv()">&times;</span> </h1>
				 	<p>感谢您使用微学宝，想要更加深入地了解微学宝吗？您可以：</p> 
					<ul class="guide-describe">
						<li>
							<ul class="item">
								 <li><i></i><a href="http://lpt.cyberwisdom.net.cn/" class="text-primary" target="_blank">免费参加微课制作课堂</a> </li> 
							</ul>
						</li>
					</ul>
					<div class="user-select">
						<span>不会使用微学宝？</span>            <a href="http://www.hdb.com/party/dcm1?hdb_from=IQQ#rd" class="text-primary" target="_blank">操作指南</a> 
						<p>
							<span class="squaredOne">
								<input type="checkbox" id="squaredOne" style="margin: 4px; font-size:14px" ng-click="isShowPerson()" checked />
								<label for="squaredOne"></label>
							</span>
							<em style="color:#66cc00">不再提示</em>
						</p> 
						<button class="btn btn-primary bl_btn" ng-click="closeDiv()">知道了</button> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
