<div class="modal-header"> <span class="glyphicon glyphicon-exclamation-sign"></span> <span>{{msgObj.title || ('dialog.TIP' | translate)}}</span></div>
<div class="modal-body">
	<div class="msg"> 由于涉及到的会员权益较多、金额较大，为保障会员利益请联系我们进行线下支付并升级!联系电话：010-58813666 </div>
</div>
<div class="btn-contain btn-small">
	<a class="btn btn-primary" href="http://bbs.e.wesambo.com/forum.php?mod=viewthread&tid=12324&extra=page%3D1" target="_blank" translate="usercenter.privilege.KNOW_DETAIL"></a>
	<a ng-click="cancel();" class="btn btn-primary" translate="usercenter.privilege.CONFIRM_TO_KNOW"></a>
</div>